<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MonProjet-Chapitre5-Exemples/src/be/businesstraining/swich_case/Demo_Swich_With_Breaks.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="be.businesstraining.swich_case.Demo_Swich_With_Breaks"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MonProjet-Chapitre5-Exemples"/>
</launchConfiguration>
